<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_xroad_options"
              name="X-Road Data Exchange Layer"
              sequence="1"
              web_icon="openg2p_xroad,static/description/icon.png" />


    <menuitem id="menu_xroad_config"
              name="Configuration"
              action="action_xroad_config"
              parent="menu_xroad_options"
              sequence="2"/>

    <menuitem id="menu_xroad_organization_main"
              name="Organizations"
              parent="menu_xroad_options"
              sequence="3"/>
    <menuitem id="menu_xroad_organizations"
              name="Organizations"
              action="action_xroad_organizations"
              parent="menu_xroad_organization_main"
              sequence="4"/>
    <menuitem id="menu_xroad_organization_id"
              name="Organization Details by ID"
              action="action_xroad_organization_id"
              parent="menu_xroad_organization_main"
              sequence="5"/>
    <menuitem id="menu_xroad_service_main"
              name="Services"
              parent="menu_xroad_options"
              sequence="6"/>
    <menuitem id="menu_xroad_service"
              name="Services"
              action="action_xroad_organizations"
              parent="menu_xroad_service_main"
              sequence="7"/>
    <menuitem id="menu_xroad_service_id"
              name="Service Details by ID"
              action="action_xroad_service_id"
              parent="menu_xroad_service_main"
              sequence="8"/>
    <menuitem id="menu_xroad_general_description_main"
              name="General Description"
              parent="menu_xroad_options"
              sequence="9"/>
    <menuitem id="menu_xroad_general_description"
              name="General Description"
              action="action_xroad_description"
              parent="menu_xroad_general_description_main"
              sequence="10"/>
    <menuitem id="menu_xroad_general_description_by_id"
              name="General Description by ID"
              action="action_xroad_description_by_id"
              parent="menu_xroad_general_description_main"
              sequence="11"/>
    <menuitem id="menu_xroad_codelist"
              name="Codelist"
              parent="menu_xroad_options"
              sequence="12"/>
    <menuitem id="menu_xroad_country"
              name="Country Codes"
              action="action_xroad_country"
              parent="menu_xroad_codelist"
              sequence="13"/>
    <menuitem id="menu_xroad_language"
              name="Language Codes"
              action="action_xroad_language"
              parent="menu_xroad_codelist"
              sequence="14"/>
    <menuitem id="menu_xroad_municipality"
              name="Municipality Codes"
              action="action_xroad_municipality"
              parent="menu_xroad_codelist"
              sequence="15"/>
    <menuitem id="menu_xroad_postal"
              name="Postal Codes"
              action="action_xroad_postal"
              parent="menu_xroad_codelist"
              sequence="16"/>

</odoo>